.poster-container {
  background-image: url("./../../images/carrossel.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
  display: flex;
  padding: 100px 0;
}

.information-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  img {
    @include d(s) {
      max-width: 200px;
    }
  }
  p {
    color: $white;
    font-family: "Roboto", monospace;
    font-style: italic;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 0.125em;
    margin-top: 30px;
    text-transform: uppercase;
    text-align: center;
    @include d(s) {
      font-size: 24px;
      line-height: 28px;
    }
  }
}
