.container-table {
  display: flex;
  flex-direction: column;
  margin: 36px auto;
}

table {
  width: 960px;
  @include d(s) {
    width: 400px;
  }
  @include d(m) {
    width: 700px;
  }
  tr {
    align-items: center;
    border-radius: 80px;
    background-color: $dark-gray;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
  }
  tr:hover {
    transform: translateY(-5px);
  }
  td {
    color: $darkest-gray;
    font-family: "Roboto", monospace;
    @include d(s) {
      font-size: 14px;
      line-height: 20px;
      margin: 0 10px 0 0;
      text-align: center;
    }
  }
  img {
    border-radius: 50px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    @include d(s) {
      width: 80px;
    }
  }
  a {
    color: $darkest-gray;
    cursor: pointer;
    text-decoration: none;
  }
}

table tr:nth-child(even) {
  background-color: $light-gray;
}

.td-play {
  margin-right: 60px;
  @include d(s) {
    margin-right: 30px;
  }
}

.title-table {
  display: flex;
  margin: 36px 36px;
  img {
    margin-right: 10px;
    width: 30px;
  }
  h4 {
    font-family: "Roboto", monospace;
    font-weight: 600;
    letter-spacing: 0.125em;
  }
}
